*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid black;
  text-align: center;
}

main {
  width: 800px; 
  margin: 0 auto; /*centraliza o texto dentro da main*/
}

.text {
  text-align: left;
  margin-bottom: 10px
}

p{
  margin-bottom: 10px;
}

aside {
  width: 180px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  bottom: 100px;
  margin: 16px;
  text-align: center;
}

aside:active{
  background-color: black;
  color:white;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

button:active{
  background-color: white;
  color: black;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

